<div class="container-fluid q-footer">
    <div class="container">
        <a href='https://sma.nomuraoi-sec.com' class="q-link">SMA服务平台</a>
        <a href='https://www.nomuraoi-sec.com/pages/function/company_announcement.jsp?newsid=1702' class="q-link">免责声明</a>
        <a href="https://www.nomuraoi-sec.com/pages/aboutUS/company_profile.jsp" class="q-link">关于我们</a>
    </div>

    <hr>
    <div class="ui container">
        <footer style="width: 100%;text-align: center;color: white">
            COPYRIGHT ©     2020 Nomura Orient International Securities Co.,Ltd. ALL RIGHTS RESERVED.
        </footer>
    </div>
</div>