<header>
    <nav class="navbar navbar-light">
        <div class="container">
            <a class="navbar-brand q-nav-title" href="#">
                <p title>野村东方国际证券-风险等级认定</p>
            </a>
        </div>
    </nav>
    <div class="q-nav">
        <img logo src="/static/questionnaire/img/logo-01.png" alt="">
        <div class="container-fluid">
            <div class="q-nav-col">
                <div class="container-fluid q-nav-col-up">
                    <a class="q-nav-item q-contact"
                       href="https://www.nomuraoi-sec.com/pages/investorEducation/educationList.jsp">投资者教育</a>
                    <a class="q-nav-item q-contact"
                       href="https://www.nomuraoi-sec.com/pages/sheze/shezeList.jsp">社会责任</a>
                </div>
                <div class="container q-nav-item-area">
                    <a class="q-nav-item-active" href="{% url 'welcome' %}">填写问卷</a>
                    <a class="q-nav-item"
                       href="https://www.nomuraoi-sec.com/pages/business/business_introduction.jsp?type=5">业务介绍</a>
                    <a class="q-nav-item" href="https://www.nomuraoi-sec.com/pages/news/newsList.jsp?sectionKeyType=2">新闻中心</a>
                </div>
            </div>
        </div>
    </div>
</header>