<div class="container-fluid q-content-wrapper">
    <div class="container q-content">
            <img src='https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fdik.img.kttpdq.com%2Fpic%2F21%2F14634%2F3df663dfb970d163_1366x768.jpg&refer=http%3A%2F%2Fdik.img.kttpdq.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1614322037&t=52d7e608eac0581052eedca21c80447d'
                         class='q-background' alt=""/>
        <div class="q-welcome">
            <h4 class='q-question-title'>为什么需要填写风险测评问卷</h4>
            <p welcome="">风险测评问卷针对投资者的财务状况、投资经验、投资风格、风险偏好和风险承受能力给出评估，可以通过分数更直观、更清楚的知道自己的实际风险承受能力。</p>
            <p welcome=""><b>投资者的风险承受能力等级要大于或等于产品的风险等级</b>，投资者才能认购。</p>
            <p welcome="">请您仔细阅读页面下方的<b>免责声明</b></p>
            <br>
            <h5 welcome>开始作答之前，我们需要验证您在本公司的账户信息</h5>
            <a type="button" class="btn btn-danger" href="{% url 'authenticate' %}">前往验证</a>
        </div>
    </div>
</div>