<div style="margin-top: 50px">
    <div class="ui message">
        <div class="header">SMA业务投资测评（个人客客户版）</div>
        <ul class="list">
            <li>本测评旨在了解您的投资目标及可承受的风险程度等信息基础上，协助您选择合适的投资策略以及合适的产品或服务类别。</li>
            <li>
                本公司在此承诺，对于您在本问卷中所提供的一切信息，本公司将严格按照法律法规要求承担保密义务。除法律法规规定的有权机关依法定程序进行查询以外，本公司保证不会将涉及您的任何信息提供、泄露给任何第三方，或者将相关信息用于违法、不当用途。
            </li>
        </ul>
        <h5>
            申 明
        </h5>
        <ul class="list ordered">
            <li class="item">本公司基于您提供的信息对您的投资概况和风险状况做出评估。您在此确认，您在本文件中提供的信息是真实、准确和完整的。若您提供的信息发生任何重大变化，请您及时书面通知本公司。</li>
            <li class="item">本文件中关于您的投资概况和风险状况仅适用于您在本公司的业务。</li>
            <li class="item">本文件并未将您的其他关联账户（如有）持有人的投资概况和风险状况纳入评估范围内。</li>
        </ul>
        <h5>重 要 信 息</h5>
        <ul class="list">
            <li>
                本公司是基于您提供的信息对您的投资概况、金融产品投资知识和经验进行评估的，我们将依据评估结果，从您的最大化利益出发为您提供专业服务。任何不真实、不准备、不完整的信息都可能影响本公司的评估，从而影响我们的服务效果。因此再次提醒您，若您提供的信息发生任何重大变化，请您及时书面通知本公司。
            </li>
            <li>
                您的风险评估状况不应作为您做出任何投资决策的唯一依据。在做出任何投资决定之前，您应始终进行独立评估并依靠自己的判断（例如，考虑与金融产品相关的知识和经验）。本公司建议投资者在做出投资决策前，在专业销售人员的协助下，独立评估金融产品或服务具体的金融风险、以及法律、法规、信贷、税收和会计风险。
            </li>
            <li>
                本公司将对您的投资概况、您在金融产品/服务方面的知识和经验进行建档，并将其作为我们为您提供服务的信息库。您与本公司的最终投资协议将成为具有法律效力的文件，而本文件不构成任何形式的要约和邀请。本公司根据您的投资目标和风险承受能力提供服务，但不构成对您的投资目标和期望的任何保证。
            </li>
            <li>本文件中涉及到的收益目标、组合波动、最大盈利或亏损等各项指标并不构成本公司的保证或承诺，仅作为对您投资目标、风险承受能力的评估基础。</li>
        </ul>
    </div>
</div>