{% extends 'questionnaire/index.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="ui mini breadcrumb">
            <a class="section" href="{% url 'home' %}">首页</a>
            <div class="divider"> /</div>
            <a class="section" href="{% url 'view' %}">查看问卷</a>
            <div class="divider"> /</div>
            <p class="section">详情</p>
        </div>

        <form action="{% url 'save' %}" method="post">
            <h2 class="q-h2">SMA业务投资测评</h2>
            <div>
                <div class="q-subject">
                    <h3>客户信息</h3>
                    <div class="q-quest-wrapper">
                        <div class="q-client-info-item-wrapper">
                            <label>
                                客户名称：
                                <input type="text" class="q-client-info-input" disabled name="clientName" value="{{ info.client.name }}">
                            </label>
                        </div>
                        <div class="q-client-info-item-wrapper">
                            <label>
                                客户账号：
                                <input type="text" class="q-client-info-input" disabled name="clientAccount" value="{{ info.client.account }}">
                            </label>
                        </div>
                    </div>
                    <div class="q-quest-wrapper">
                        <p>在本公司是否有关联账户，如有请填写</p>
                        <div class="q-client-info-item-wrapper2">
                            <label>
                                客户名称：
                                <input type="text" class="q-client-info-input" name="associateName" disabled value="{{ info.client.associate_name|default:'' }}">
                            </label>
                        </div>
                        <div class="q-client-info-item-wrapper2">
                            <label>
                                客户账号：
                                <input type="text" class="q-client-info-input" name="associateAccount" disabled value="{{ info.client.associate_account|default:'' }}">
                            </label>
                        </div>
                    </div>
                </div>
                {% for subject, question in questions.items %}
                    <div class="q-subject">
                        <h3>{{ subject }}</h3>
                        <div class="q-quest-wrapper">
                            {% for quest in question %}
                                <div class="q-quest-area">
                                    <h5>{{ quest.id }}.{{ quest.quest }}</h5>
                                    <div style="list-style: none;">
                                        {% for choice in quest.choice %}
                                            <div class="q-choice">
                                                <label class="q-quest-checkbox">
                                                    {% if choice.0 == quest.checked %}
                                                        <input type="checkbox" checked="checked" name="{{ quest.id }}.{{ choice.0 }}">
                                                        {% else %}
                                                        <input type="checkbox" name="{{ quest.id }}.{{ choice.0 }}">
                                                    {% endif %} 

                                                </label>
                                                <p>{{ choice.0 }}.&nbsp;</p>
                                                <p>{{ choice.1 }}</p>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                <div class="q-quest-wrapper">
                    <div class="q-client-info-item-wrapper">
                        <label>
                            销售人员：
                            <input type="text" class="q-client-info-input" name="salesName" disabled value="{{ info.sales }}">
                        </label>
                    </div>
                    <div class="q-client-info-item-wrapper">
                        <label>
                            签署日期：
                            <input type="text" class="q-client-info-input" name="signDate" disabled
                                   value="{{ info.date | date:'Y-m-d' }}">
                        </label>
                    </div>
                </div>
            </div>
            <div class="ui buttons q-quest-submit">
                <button class="ui button" type="button" id="check">检查</button>
                <div class="or"></div>
                <button class="ui red button" type="submit">提交修改</button>
            </div>
        </form>
    {% else %}
        <div class="q-quest-finished">
            <div class="ui message">
                <div class="header">认证失败</div>
                <p>在认证成功之前，您没有权限查看此部分内容，请尝试登陆后再访问</p>
                <a class="fluid ui button" href="{% url 'login' %}">前往认证</a>
            </div>
        </div>
    {% endif %}
{% endblock %}